roughdiscrimination.R
roughdiscrimination.Rmd
roughdiscrimination.html
roughdiscriminationB.Rmd
roughdiscriminationB.html
roughdiscriminationC.Rmd
roughdiscriminationC.html
trend.Rmd
trend.html
MLDcoef.R
